
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sushantk12527/shopverse-config
          default-label: main
          clone-on-start: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
